src/test/resources/hibernate/hibernate-mapping-1.1.dtd

<?xml version='1.0' encoding='utf-8'?>

<!-- Hibernate Mapping DTD.

<!DOCTYPE hibernate-mapping PUBLIC 
	"-//Hibernate/Hibernate Mapping DTD 1.1//EN"
	"http://hibernate.sourceforge.net/hibernate-mapping-1.1.dtd">

An instance of this XML document may contain mappings for an arbitrary 
number of classes. The class mappings may contain associations to classes
mapped in the same document or in another document. No class may be 
mapped more than once. Each document may also contains mappings for an 
arbitrary number of toplevel collections. Toplevel collection roles may 
be referenced by later class and collection mappings in the same document. 
(They must be declared before they are used.)

-->

<!-- The document root. -->

<!ELEMENT hibernate-mapping ( 
	(map|set|list|bag|array|primitive-array)*, 
	class*,
	query*
)>
<!ATTLIST hibernate-mapping schema CDATA #IMPLIED>                            <!-- default: none -->
<!ATTLIST hibernate-mapping default-cascade (none|save-update|all) "none">
  
<!-- Root of an entity class hierarchy. Entities have their own tables. -->

<!ELEMENT class ( 
  jcs-cache?,
  (id|composite-id),
  discriminator?,
  (version|timestamp)?,
  (property|many-to-one|one-to-one|collection|component|map|set|list|bag|array|primitive-array)*, 
  ((subclass*)|(joined-subclass*))
)>
  <!ATTLIST class name CDATA #REQUIRED>
  <!ATTLIST class table CDATA #IMPLIED>                  <!-- default: unqualified classname -->
  <!ATTLIST class schema CDATA #IMPLIED>                 <!-- default: none -->
  <!ATTLIST class proxy CDATA #IMPLIED>                  <!-- default: no proxy interface -->
  <!ATTLIST class discriminator-value CDATA #IMPLIED>    <!-- default: unqualified class name | none -->
  <!ATTLIST class mutable (true|false) "true">
  <!ATTLIST class polymorphism (implicit|explicit) "implicit">
  <!ATTLIST class persister CDATA #IMPLIED>

<!-- Declares the id type, column and generation algorithm for an entity class.
If a name attribut is given, the id is exposed to the application through the 
named property of the class. If not, the id is only exposed to the application 
through Session.getID()-->

<!ELEMENT id (column?, generator)>
  <!ATTLIST id name CDATA #IMPLIED>
  <!ATTLIST id column CDATA #IMPLIED>
  <!ATTLIST id type CDATA #IMPLIED>
  <!ATTLIST id length CDATA #IMPLIED>
  <!ATTLIST id unsaved-value CDATA "any">          <!-- any|none|null|"value" -->

<!-- A composite key may be modelled by a java class with a property for each 
key column. The class must implement java.io.Serializable and reimplement equals() 
and hashCode(). -->

<!ELEMENT composite-id ( (key-property|key-many-to-one)+ )>
  <!ATTLIST composite-id class CDATA #IMPLIED>
  <!ATTLIST composite-id name CDATA #IMPLIED>
  <!ATTLIST composite-id unsaved-value (any|none) "any">

<!-- Polymorphic data requires a column holding a class discriminator value. This
value is not directly exposed to the application. -->

<!ELEMENT discriminator (column?)>
  <!ATTLIST discriminator column CDATA #IMPLIED>   <!-- default: "class"|none -->
  <!ATTLIST discriminator type CDATA "string">
  <!ATTLIST discriminator length CDATA #IMPLIED>
  
<!-- Versioned data requires a column holding a version number. This is exposed to the
application through a property of the Java class. -->

<!ELEMENT version EMPTY>
  <!ATTLIST version name CDATA #REQUIRED>
  <!ATTLIST version column CDATA #IMPLIED>
  <!ATTLIST version type CDATA "integer">

<!ELEMENT timestamp EMPTY>
  <!ATTLIST timestamp name CDATA #REQUIRED>
  <!ATTLIST timestamp column CDATA #IMPLIED>

<!-- Subclass declarations are nested beneath the root class declaration to achieve
polymorphic persistence. -->

<!ELEMENT subclass ( 
	(property|many-to-one|one-to-one|collection|component|map|set|list|bag|array|primitive-array)*, 
	subclass*
)>
  <!ATTLIST subclass name CDATA #REQUIRED>
  <!ATTLIST subclass proxy CDATA #IMPLIED>                <!-- default: no proxy interface -->
  <!ATTLIST subclass discriminator-value CDATA #IMPLIED>  <!-- default: unqualified class name | none -->

<!-- Joined subclasses are used for the normalized table-per-subclass mapping strategy -->

<!ELEMENT joined-subclass ( 
	key,
	(property|many-to-one|one-to-one|collection|component|map|set|list|bag|array|primitive-array)*, 
	joined-subclass*
)>
  <!ATTLIST joined-subclass name CDATA #REQUIRED>
  <!ATTLIST joined-subclass proxy CDATA #IMPLIED>                <!-- default: no proxy interface -->
  <!ATTLIST joined-subclass table CDATA #REQUIRED>
  <!ATTLIST joined-subclass schema CDATA #IMPLIED>
  
<!-- Property of an entity class or component, component-element, composite-id, etc. 
JavaBeans style properties are mapped to table columns. -->

<!ELEMENT property (column*)>
  <!ATTLIST property name CDATA #REQUIRED>
  <!ATTLIST property type CDATA #IMPLIED>
  <!ATTLIST property column CDATA #IMPLIED>
  <!ATTLIST property length CDATA #IMPLIED>
  <!ATTLIST property not-null (true|false) "false">
  <!ATTLIST property unique (true|false) "false">

<!-- Declares an association between two entities (Or from a component, component element,
etc. to an entity). -->

<!ELEMENT many-to-one (column*)>
  <!ATTLIST many-to-one name CDATA #REQUIRED>
  <!ATTLIST many-to-one class CDATA #IMPLIED>
  <!ATTLIST many-to-one column CDATA #IMPLIED>
  <!ATTLIST many-to-one not-null (true|false) "false">
  <!ATTLIST many-to-one unique (true|false) "false">
  <!ATTLIST many-to-one cascade (none|all|save-update|delete) #IMPLIED>    <!-- default: none -->
  <!ATTLIST many-to-one outer-join (true|false|auto) "auto">
    
<!-- Declares a one-to-one association between two entities (Or from a component, 
component element, etc. to an entity). -->

<!ELEMENT one-to-one EMPTY>
  <!ATTLIST one-to-one name CDATA #REQUIRED>
  <!ATTLIST one-to-one class CDATA #IMPLIED>
  <!ATTLIST one-to-one cascade (none|all|save-update|delete) #IMPLIED>     <!-- default: none -->
  <!ATTLIST one-to-one outer-join (true|false|auto) "auto">
  <!ATTLIST one-to-one constrained (true|false) "false">

<!-- A property embedded in a composite identifier or map index (always not-null). -->

<!ELEMENT key-property (column*)>
  <!ATTLIST key-property name CDATA #REQUIRED>
  <!ATTLIST key-property type CDATA #IMPLIED>
  <!ATTLIST key-property column CDATA #IMPLIED>
  <!ATTLIST key-property length CDATA #IMPLIED>

<!-- A many-to-one association embedded in a composite identifier or map index 
(always not-null, never cascade). -->

<!ELEMENT key-many-to-one (column*)>
  <!ATTLIST key-many-to-one name CDATA #REQUIRED>
  <!ATTLIST key-many-to-one class CDATA #IMPLIED>
  <!ATTLIST key-many-to-one column CDATA #IMPLIED>
  
<!-- Declared a property that holds instances of a toplevel collection role. -->

<!ELEMENT collection (column*)>
  <!ATTLIST collection name CDATA #REQUIRED>
  <!ATTLIST collection role CDATA #IMPLIED>
  <!ATTLIST collection column CDATA #IMPLIED>
  <!ATTLIST collection length CDATA #IMPLIED>
  <!ATTLIST collection not-null (true|false) "false">
  <!ATTLIST collection unique (true|false) "false">
  <!ATTLIST collection cascade (none|all|save-update|delete) #IMPLIED>  <!-- default: none -->
  
<!-- A component is a user-defined class, persisted along with its containing entity
to the table of the entity class. JavaBeans style properties of the component are
mapped to columns of the table of the containing entity. A null component reference
is mapped to null values in all columns and vice versa. Components do not support
shared reference semantics. -->

<!ELEMENT component (
  parent?,
  (property|many-to-one|one-to-one|collection|component|map|set|list|bag|array|primitive-array)*
)>
  <!ATTLIST component class CDATA #IMPLIED>
  <!ATTLIST component name CDATA #REQUIRED>

<!-- The parent element maps a property of the component class as a pointer back to
the owning entity. -->

<!ELEMENT parent EMPTY>
  <!ATTLIST parent name CDATA #REQUIRED>

<!-- Collection roles declared directly beneath the root element have their own key
and may be referenced by many collection or subcollection tags. Collection declarations
nested inside a class declaration indicate a foreign key relationship from the 
collection table to the enclosing class. For toplevel collections, the name of
the role may be an arbitrary string. For nested collections, it must be the name
of the property containing the collection. 

Note that the cascade attribute is ignored for toplevel collections. -->

<!ELEMENT map (
	jcs-cache?,
	(key|generated-key), 
	(index|composite-index|index-many-to-many), 
	(element|one-to-many|many-to-many|subcollection|composite-element)
)>
  <!ATTLIST map role CDATA #REQUIRED>
  <!ATTLIST map table CDATA #IMPLIED>                              <!-- default: rolename -->
  <!ATTLIST map schema CDATA #IMPLIED>                             <!-- default: none -->
  <!ATTLIST map lazy (true|false) "false">
  <!ATTLIST map sort CDATA #IMPLIED>                               <!-- unsorted|natural|"comparator class", default: unsorted -->
  <!ATTLIST map cascade (none|all|save-update|delete) #IMPLIED>    <!-- default: none -->
  <!ATTLIST map order-by CDATA #IMPLIED>                           <!-- default: none -->

<!ELEMENT set (
	jcs-cache?,
	(key|generated-key), 
	(element|one-to-many|many-to-many|subcollection|composite-element)
)>
  <!ATTLIST set role CDATA #REQUIRED>
  <!ATTLIST set table CDATA #IMPLIED>                              <!-- default: rolename -->
  <!ATTLIST set schema CDATA #IMPLIED>                             <!-- default: none -->
  <!ATTLIST set lazy (true|false) "false">
  <!ATTLIST set sort CDATA "unsorted">                             <!-- unsorted|natural|"comparator class" -->
  <!ATTLIST set readonly (true|false) "false">
  <!ATTLIST set cascade (none|all|save-update|delete) #IMPLIED>    <!-- default: none -->
  <!ATTLIST set order-by CDATA #IMPLIED>                           <!-- default: none -->

<!ELEMENT bag (
	jcs-cache?,
	(key|generated-key), 
	(element|one-to-many|many-to-many|subcollection|composite-element)
)>
  <!ATTLIST bag role CDATA #REQUIRED>
  <!ATTLIST bag table CDATA #IMPLIED>                              <!-- default: rolename -->
  <!ATTLIST bag schema CDATA #IMPLIED>                             <!-- default: none -->
  <!ATTLIST bag lazy (true|false) "false">
  <!ATTLIST bag readonly (true|false) "false">
  <!ATTLIST bag cascade (none|all|save-update|delete) #IMPLIED>    <!-- default: none -->
  <!ATTLIST bag order-by CDATA #IMPLIED>                           <!-- default: none -->

<!ELEMENT list (
	jcs-cache?,
	(key|generated-key), 
	index, 
	(element|one-to-many|many-to-many|subcollection|composite-element)
)>
  <!ATTLIST list role CDATA #REQUIRED>
  <!ATTLIST list table CDATA #IMPLIED>                             <!-- default: rolename -->
  <!ATTLIST list schema CDATA #IMPLIED>                            <!-- default: none -->
  <!ATTLIST list lazy (true|false) "false">
  <!ATTLIST list cascade (none|all|save-update|delete) #IMPLIED>   <!-- default: none -->

<!ELEMENT array (
	jcs-cache?,
	(key|generated-key), 
	index, 
	(element|one-to-many|many-to-many|subcollection|composite-element)
)>
  <!ATTLIST array role CDATA #REQUIRED>
  <!ATTLIST array table CDATA #IMPLIED>                            <!-- default: rolename -->
  <!ATTLIST array schema CDATA #IMPLIED>                           <!-- default: none -->
  <!ATTLIST array element-class CDATA #IMPLIED>
  <!ATTLIST array cascade (none|all|save-update|delete) #IMPLIED>  <!-- default: none -->

<!ELEMENT primitive-array (jcs-cache?, key, index, element)>
  <!ATTLIST primitive-array role CDATA #REQUIRED>
  <!ATTLIST primitive-array table CDATA #IMPLIED>                  <!-- default: rolename -->
  <!ATTLIST primitive-array schema CDATA #IMPLIED>                 <!-- default: none -->

<!-- Declares the element type of a collection of basic type -->

<!ELEMENT element (column*)>
  <!ATTLIST element column CDATA #IMPLIED>
  <!ATTLIST element type CDATA #REQUIRED>
  <!ATTLIST element length CDATA #IMPLIED>
  <!ATTLIST element not-null (true|false) "false">
  <!ATTLIST element unique (true|false) "false">

<!-- One to many association. This tag declares the entity-class
element type of a collection and specifies a one-to-many relational model -->

<!ELEMENT one-to-many EMPTY>
  <!ATTLIST one-to-many class CDATA #REQUIRED>
  <!-- No column declaration attributes required in this case. The primary
  key column of the associated class is already mapped elsewhere.-->

<!-- Many to many association. This tag declares the entity-class
element type of a collection and specifies a many-to-many relational model -->

<!ELEMENT many-to-many (column*)>
  <!ATTLIST many-to-many class CDATA #REQUIRED>
  <!ATTLIST many-to-many column CDATA #IMPLIED>
  <!ATTLIST many-to-many not-null (true|false) "false">
  <!ATTLIST many-to-many outer-join (true|false|auto) "auto">
  <!-- unique makes no sense here since it would make the association one-to-many -->

<!-- This tag declares that the element type of a collection is a named
toplevel collection role. -->  

<!ELEMENT subcollection (column*)>
  <!ATTLIST subcollection column CDATA #IMPLIED>
  <!ATTLIST subcollection role CDATA #REQUIRED>
  <!ATTLIST subcollection length CDATA #IMPLIED>
  <!ATTLIST subcollection not-null (true|false) "false">
  <!ATTLIST subcollection unique (true|false) "false">

<!-- A composite element allows a collection to hold instances of an arbitrary 
class, without the requirement of joining to an entity table. Composite elements
have component semantics - no shared references and ad hoc null value semantics. 
Composite elements may not hold nested collections. -->

<!ELEMENT composite-element ( 
  (property|many-to-one|collection|nested-composite-element)* 
)>
  <!ATTLIST composite-element class CDATA #REQUIRED>

<!ELEMENT nested-composite-element ( 
  (property|many-to-one|collection|nested-composite-element)* 
)>
  <!ATTLIST nested-composite-element class CDATA #REQUIRED>
  <!ATTLIST nested-composite-element name CDATA #REQUIRED>
  
<!-- Declares the type, column name (and, in the case of toplevel collections, 
an id generation strategy) for the key of a collection table. These keys are
never exposed to the application. For toplevel collections, Hibernate makes
no guarantee of key stability of a particular collection instance. -->

<!ELEMENT key (column*)>
  <!ATTLIST key column CDATA #IMPLIED>
  <!ATTLIST key length CDATA #IMPLIED>

<!ELEMENT generated-key (generator, column*)>
  <!ATTLIST generated-key column CDATA #IMPLIED>
  <!ATTLIST generated-key type CDATA #REQUIRED>
  <!ATTLIST generated-key length CDATA #IMPLIED>

<!-- Declares the type and column mapping for a collection index (array or
list index, or key of a map). -->

<!ELEMENT index (column*)>
  <!ATTLIST index column CDATA #IMPLIED>
  <!ATTLIST index type CDATA #IMPLIED>      <!-- required for maps -->
  <!ATTLIST index length CDATA #IMPLIED>

<!-- Many to many association mapped to the key of a map. ie. a map keyed
on entities. -->

<!ELEMENT index-many-to-many (column*)>
  <!ATTLIST index-many-to-many class CDATA #REQUIRED>
  <!ATTLIST index-many-to-many column CDATA #IMPLIED>

<!-- Composite index of a map ie. a map keyed on components. -->

<!ELEMENT composite-index ( (key-property|key-many-to-one)+ )>
  <!ATTLIST composite-index class CDATA #REQUIRED>

<!-- Generators generate unique identifiers. The class attribute specifies a Java class
implementing an id generation algorithm. -->

<!ELEMENT generator (param*)>
  <!ATTLIST generator class CDATA #REQUIRED>
<!ELEMENT param (#PCDATA)>

<!-- The column element is an alternative to column attributes and required for 
mapping associations to classes with composite ids. -->

<!ELEMENT column EMPTY>
  <!ATTLIST column name CDATA #REQUIRED>
  <!ATTLIST column length CDATA #IMPLIED>              <!-- default: 255 -->
  <!ATTLIST column not-null (true|false) #IMPLIED>     <!-- default: false (except for id properties) -->
  <!ATTLIST column unique (true|false) #IMPLIED>       <!-- default: false (except for id properties) -->
  <!ATTLIST column unique-key CDATA #IMPLIED>          <!-- default: no unique key -->
  <!ATTLIST column sql-type CDATA #IMPLIED>            <!-- override default column type for hibernate type -->
  <!ATTLIST column index CDATA #IMPLIED>

<!-- The jcs-cache element enables caching of an entity class. -->
<!ELEMENT jcs-cache EMPTY>
  <!ATTLIST jcs-cache usage (read-only|read-write) #REQUIRED>        

<!-- The query element declares a named Hibernate query string -->

<!ELEMENT query (#PCDATA)>
  <!ATTLIST query name CDATA #REQUIRED>
